@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Pagina não existe";
}

<h1 class="text-danger">Ops!</h1>
<h1 class="text-danger">Acho que a pagina que você está tentando acessar não existe.</h1>
